:root {
    --glow-color-1: #90EE90;
    --glow-color-2: #66ff66;
    --glow-color-3: #00cc00;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #D3D3D3;
    padding-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 0;
    margin: 0;
}

.glow-navbar {
    background: #244734; 
    padding: 20px 0;
    text-align: center;
}

.glow-name {
    font-size: 40px;
    color: #c6feca;
    text-shadow:    
        0 0 10px var(--glow-color-1),
        0 0 20px var(--glow-color-2),
        0 0 30px var(--glow-color-3);
    margin: 0;
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0%, 100% {
        text-shadow: 
            0 0 10px var(--glow-color-1), 
            0 0 20px var(--glow-color-2), 
            0 0 30px var(--glow-color-3);
    }
    50% {
        text-shadow: 
            0 0 5px var(--glow-color-1) 
            0 0 10px var(--glow-color-2), 
            0 0 15px var(--glow-color-3);
    }
}

.glow-menu {
    list-style: none;
    padding: 20px 0 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.glow-menu li {
    display: inline;
}

.glow-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

.glow-menu a:hover {
    color: #97ff9e;
    cursor: default;
}

.glow-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #97ff9e;
    transition: width 0.3s;
    margin: auto;
}

.glow-menu a:hover::after {
    width: 100%;
}

.content {
    flex: 1;
    font-family: 'Century Gothic';
    padding: 10px;
    max-width: 800px;
    margin: 10px auto;
    margin-top: 85px;
    text-align: center;
    background: #FFFFE0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.footer {
    background: #244734;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10px;
}

nav a.active {
    color: #97ff9e;
}

h2 {
  font-family: 'Copperplate Gothic Light';
  font-size: 2.2rem;
  color: #222;
  border-bottom: 3px solid #083008;
  display: inline-block;
  padding-bottom: 0.3rem;
  margin-bottom: 10px;
  margin-top: 0.2px;
}

img {
    max-width: 150px;
    border-radius: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    outline: none;
}

.job-entry h3 {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.2em;
    text-decoration: underline;
}

.job-entry h4 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

ul.aircraft {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
}

ul.aircraft li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  line-height: 1.5;
  text-align: left;
}

ul.aircraft li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('images/plane.png') no-repeat center center;
  background-size: contain;
}

ul.computer {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
}

ul.computer li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  line-height: 1.5;
  text-align: left;
}

ul.computer li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('images/pc.png') no-repeat center center;
  background-size: contain;
}

ul.general {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
}

ul.general li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  line-height: 1.5;
  text-align: left;
}

ul.general li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('images/idea.jpg') no-repeat center center;
  background-size: contain;
}

ul.coding {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
}

ul.coding li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  line-height: 1.5;
  text-align: left;
}

ul.coding li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('images/binary.png') no-repeat center center;
  background-size: contain;
}

.marks-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.marks-table td {
    padding: 6px 12px;
    border: none;
    font-size: 1em;
}

body.dark-mode {
    background: #000000;
    color: #ff707f;
    --glow-color-1: #ff707f;
    --glow-color-2: #ff1a2a;
    --glow-color-3: #FF0000;
}

body.dark-mode .glow-name {
    color: #ff707f;
}

body.dark-mode .glow-navbar {
    background: #2d2b3c;
}

body.dark-mode .glow-menu a {
    color: #dfdfdf;
}

body.dark-mode .glow-menu a:hover {
    color: #ff707f;
}

body.dark-mode .glow-menu a::after {
    background: #ff707f;
}

body.dark-mode .footer {
    background: #2d2b3c;
}

body.dark-mode .content {
    background: #242424;
    color: #dfdfdf;
}

body.dark-mode nav a.active {
    color: #ff707f;
}

body.dark-mode h2 {
  color: #eee;
  font-family: 'Copperplate Gothic Light';
  font-size: 2.2rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #ff707f;
}

body.dark-mode img {
    background: #dfdfdf;
}

body.dark-mode ul li::before {
  background-color: #dfdfdf;
}